@font-face {
    font-family: kalameh;
    src: url(../font/KalamehWeb-Thin.woff);
    font-style: normal;
    font-weight: 100;
  }
  @font-face {
    font-family: kalameh;
    src: url(../font/KalamehWeb-Regular.woff);
    font-style: normal;
    font-weight: 200;
  }
  @font-face {
    font-family: kalameh;
    src: url(../font/KalamehWeb-Bold.woff);
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: kalameh;
    src: url(../font/KalamehWeb-Black.woff);
    font-style: normal;
    font-weight: 400;
  }

  
@keyframes live {
  0% {
    border: .6rem solid #fff; }
  50% {
    border: .6rem solid #B2EEC3; }
  100% {
    border: .6rem solid #fff; } }

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.row {
  display: flex;
  width: 60rem; }
  @media (max-width: 60em) {
    .row {
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 45em) {
    .row {
      width: auto; } }
  .row .col {
    flex: 1; }
    .row .col:last-child {
      margin-left: 1em; }
      @media (max-width: 60em) {
        .row .col:last-child {
          margin: 0; } }

.tabs {
  overflow: hidden;
  width: 50rem; }
  @media (max-width: 45em) {
    .tabs {
      width: 90%;
      margin: auto; } }

.tab {
  width: 100%;
  color: #fff;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-bottom: 4rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
  .tab-label {
    font-family: kalameh;
    font-size: 1.7rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background: #222;
    cursor: pointer; }
    .tab-label:hover {
      background: #2f2f2f; }
    .tab-label::after {
      content: url(../img/Group93.svg);
      height: 1.8rem;
      text-align: center;
      transition: all .2s; }
  .tab-content {
    font-family: kalameh;
    font-size: 1.6rem;
    font-weight: 200;
    max-height: 0;
    padding: 0 1em;
    color: #222;
    background: rgba(255, 255, 255, 0.5);
    transition: all .2s; }

input:checked + .tab-label {
  background: #1a1a1a; }
  input:checked + .tab-label::after {
    content: url(../img/Group98.svg); }

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: 200; }

html {
  font-size: 60%;
  direction: rtl; }
  @media (max-width: 95em) {
    html {
      font-size: 55%; } }
  @media (max-width: 70em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: kalameh;
  transition: all ease 0.4s;
  font-weight: 100; }

header {
  width: 100%;
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  transition: background-color ease-in-out 0.4s;
  background-color: #ccc; }

nav {
  position: fixed;
  width: 100%;
  transition: .2s;
  padding: 0 20rem;
  height: 6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color ease-in-out 0.4s;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 10px;
  z-index: 2; }
  @media (max-width: 95em) {
    nav {
      padding: 0 10rem; } }
  @media (max-width: 70em) {
    nav {
      padding: 0 5rem; } }
  @media (max-width: 40em) {
    nav {
      padding: 0 2rem; } }
  @media (max-width: 60em) {
    nav {
      height: initial;
      padding: 0rem 3rem;
      display: block; } }
  nav .logo {
    width: 16rem; }
    @media (max-width: 60em) {
      nav .logo {
        margin-top: 5px; } }
  nav .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    @media (max-width: 60em) {
      nav .main-nav {
        display: none;
        flex-direction: column;
        border-top: 1px solid #ddd;
        margin-top: 1rem;
        padding-top: 2rem; } }
    nav .main-nav-div {
      display: flex; }
      @media (max-width: 60em) {
        nav .main-nav-div {
          flex-direction: column; } }
    nav .main-nav .nav-element {
      padding: .5rem 2rem 0 2rem;
      color: #333;
      transition: color ease-in-out .4s;
      text-decoration: none;
      font-family: kalameh;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      transition: .2s; }
      nav .main-nav .nav-element::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: #eecb1f;
        transition: width .3s; }
      nav .main-nav .nav-element:hover::after {
        width: 100%; }
      nav .main-nav .nav-element:first-child {
        margin-right: 3rem; }
        @media (max-width: 60em) {
          nav .main-nav .nav-element:first-child {
            margin-right: 0; } }
      @media (max-width: 60em) {
        nav .main-nav .nav-element {
          padding: 2rem 0;
          font-size: 2rem; } }
      @media (max-height: 30em) {
        nav .main-nav .nav-element {
          padding: 1rem 0;
          font-size: 1.7rem; } }
  nav .sec-nav {
    display: flex;
    justify-content: initial;
    align-items: center; }
    @media (max-width: 60em) {
      nav .sec-nav {
        flex-direction: column; } }
    nav .sec-nav-element {
      transition: .2s;
      padding: 0 2rem;
      color: #0d0b01;
      transition: color ease-in-out .4s;
      text-decoration: none;
      font-family: kalameh;
      font-size: 1.5rem; }
      @media (max-width: 60em) {
        nav .sec-nav-element {
          font-size: 2rem;
          margin: 2rem 0; } }
      @media (max-height: 30em) {
        nav .sec-nav-element {
          margin: 1rem 0;
          font-size: 1.7rem; } }
      nav .sec-nav-element:hover {
        color: #eecb1f; }
      nav .sec-nav-element-login {
        border: 1px solid #0d0b01;
        border-radius: 50rem;
        transition: all ease-in-out .4s;
        padding: 4px 2rem; }
        nav .sec-nav-element-login:hover {
          background-color: #0d0b01;
          color: #fff; }

.menubtn {
  display: none;
  align-items: center; }
  @media (max-width: 60em) {
    .menubtn {
      display: flex;
      position: absolute;
      top: 1.7rem;
      left: 4rem; } }
  .menubtn button {
    width: 4rem;
    height: 4rem;
    border: none;
    outline: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; }
    .menubtn button::before {
      content: url(../img/menu.svg);}

.togglenav {
  display: flex !important; }

.togglebtn::before {
  content: url(../img/close.svg) !important; }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Kalameh;
    text-align: center;
}
input:focus {
  outline: none;
  border: none;
}
input::placeholder { 
  font-family: Kalameh;
  font-weight: 300;
  font-size: 1.2em;
  color: #222;
  text-align: center;
}
body {
  font-size: 16px;
  direction: rtl;
}
.container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 75px;
  margin-top: 50px;
  transition: background-color ease-in-out 0.4s;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.logo img {
  height: 35px;
  max-width: 100%;
}
.form { 
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
.right-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1.5rem 5rem 0px #0000001A;
  padding: 15px;
  border-radius: 25px;
  margin-top: 30px;
  transition: background-color ease-in-out 0.4s;
}
.form_name-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_name-wrapper_family,.form_name-wrapper_father {
  background-color: #f5e427;
  border-radius: 25px;
  padding: 15px 0;
  width: 50%;
  border: 2px solid transparent;
  margin: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all ease 0.3s;
}
.form_name-wrapper_family:focus,.form_name-wrapper_father:focus,.form_num-wrapper input:focus,.form_address-wrapper input:focus,.form_phone-wrapper input:focus,.form_id-wrapper input:focus {
  border: 2px solid #2a2a5c;
}
.form_id-wrapper,.form_num-wrapper,.form_address-wrapper,.form_phone-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}
.form_birth-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px
}
.form_birth-title {
  background-color: #f5e427;
  border-radius: 25px;
  padding: 15px 0;
  margin: 3px;  
  width: 25%;
  color: #837b24;
}
.form_birth-year-select,.form_birth-month-select,.form_birth-day-select {
  background-color: #f5e427;
  border-radius: 25px;
  padding: 15px 0;
  margin: 3px;  
  width: 25%;
  color: #837b24;
  border: 2px solid transparent;
  outline: none;
  font-size: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all ease 0.3s;
}
.form_birth-year-select:focus,.form_birth-month-select:focus,.form_birth-day-select:focus {
  border: 2px solid #2a2a5c;
}
.form_num-wrapper input,.form_address-wrapper input,.form_phone-wrapper input,.form_id-wrapper input {
  background-color: #f5e427;
  border-radius: 25px;
  padding: 15px 0;
  border: 2px solid transparent;
  margin: 3px;  
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all ease 0.3s;
}

.center-image {
  width: 100%;
}
.center-image img {
  width: 90%;
}

.details {
  width: 90%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 1.5rem 5rem 0px #0000001A;
  padding: 12px;
  border-radius: 25px;
  transition: background-color ease-in-out 0.4s;
}
.details-p {
  text-align: justify;
  line-height: 2.2;
  font-size: 1.25em;
  font-weight: 200;
  word-spacing: 2px;
}
.details-p-span {
  font-weight: 400;
  color: #2a2a5c;
}

.introduction {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 86%;
}
.introduction-p {
  font-weight: 400;
  color: #2a2a5c;
  margin-top: 8px;
  font-size: 1.5em;
  word-spacing: 2px;
}
.rule-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}
.rule-label {
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rule-txt {
  color: #E53935;
  font-weight: 300;
  font-size: 1.2em;
  margin-right: 2.1em;
}
.rule-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.rule-span {
  position: absolute;
  top: 18%;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 0 5px;
}
.rule-label:hover .rule-input ~ .rule-span {
  background-color: #bbb;
}
.rule-label .rule-input:checked ~ .rule-span {
  background-color: #f5e427;
}
.rule-span:after {
  content: "";
  position: absolute;
  display: none;
}
.rule-label .rule-input:checked ~ .rule-span:after {
  display: block;
}
.rule-label .rule-span:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.upload-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}
.upload_btn-id {
  position: relative;
  margin: 15px;
  width: 40%;
}
.upload_btn-selfi {
  position: relative;
  margin: 15px;
  width: 55%;
}
.upload_btn-id button,.upload_btn-selfi button {
  background-color: #f5e427;
  border-radius: 25px;
  padding: 15px 0;
  width: 100%;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1.25em;  
  color: #2a2a5c;
  word-spacing: 2px;
  font-weight: 300;
  transition: all ease 0.35s;
}
.upload_btn-id input,.upload_btn-selfi input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.note-p {
  color: #f14603;
  font-weight: 300;
  margin-top: 20px;
  font-size: 1.1em;
}
.note-p-span {
  color: #2a2a5c;
}
.submit {
  margin-top: 25px;
}
.submit button {
  background-color: #f5e427;
  border-radius: 25px;
  padding: 15px 30px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1.25em;  
  color: #2a2a5c;
  word-spacing: 2px;
  font-weight: 300;
  transition: all ease 0.35s;
  cursor: pointer;
  user-select: none;
}
.submit button:hover {
  box-shadow: rgba(61, 41, 41, 0.4) 0px 2px 8px 0px;
}
footer {
  padding: 0 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem !important;
  padding-bottom: 2rem !important;
  flex-direction: column;
  background: url(../img/Rectangle63.png);
  background-repeat: round;
  height: 50rem; }
  @media (max-width: 95em) {
    footer {
      padding: 0 10rem; } }
  @media (max-width: 70em) {
    footer {
      padding: 0 5rem; } }
  @media (max-width: 40em) {
    footer {
      padding: 0 2rem; } }
  @media (max-width: 45em) {
    footer {
      height: auto;
      padding: 10rem 0 5rem 0 !important; } }
  footer .footer-main {
    width: 31rem; }
    footer .footer-main img {
      height: 3.6rem; }
    footer .footer-main-a p {
      margin-top: 2rem;
      font-size: 1.6rem;
      font-weight: 200;
      color: #999; }

.footer-contactus {
  margin-top: 4rem; }
  .footer-contactus-div {
    display: flex;
    margin-bottom: 2rem; }
    .footer-contactus-div img {
      height: 2.5rem !important;
      margin-left: 2rem; }
    .footer-contactus-div p {
      font-size: 1.5rem !important;
      margin: 0 !important; }

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  width: 100%;
  height: 33.2rem; }
  @media (max-width: 45em) {
    .top-footer {
      align-items: center;
      flex-direction: column;
      height: auto; } }
  .top-footer h2 {
    color: #F5E427;
    font-family: kalameh;
    font-size: 2.3rem;
    font-weight: 200; }

@media (max-width: 45em) {
  .footer-ele {
    width: 80% !important;
    margin-bottom: 10rem; } }

.ezuse {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .ezuse-a {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
    .ezuse-a a {
      margin: 1rem 0;
      color: #999;
      text-decoration: none;
      font-family: kalameh;
      font-size: 1.8rem;
      font-weight: 200;
      transition: .2s; }
      .ezuse-a a:hover {
        color: #fff; }

.social {
  display: flex;
  flex-direction: column; }
  .social-a {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
    .social-a a {
      display: flex;
      justify-content: initial;
      align-items: center;
      font-family: kalameh;
      font-size: 1.5rem;
      font-weight: 200;
      font-family: system-ui;
      color: #999;
      text-decoration: none;
      letter-spacing: 2px;
      transition: .2s;
      margin: 1rem 0; }
      .social-a a:hover {
        color: #fff; }
      .social-a a img {
        width: 3.5rem;
        margin-left: 1.5rem;
        padding-top: 6px; }

.hero-arrow,
.help-arrow,
.whatis-arrow {
  width: 1.6rem; }

.copyright {
  width: 100%; }
  .copyright-p {
    font-family: kalameh;
    font-size: 1.5rem;
    font-weight: 200;
    color: #ccc;
    font-family: roboto, 'kalameh';
    width: 80%;
    margin: auto;
    text-align: center; }


/**/
@media (min-width: 992px) {
  .dc-none {
    display: none;
  }  
}
@media (max-width: 992px) {
  .form { 
    flex-direction: column;
    align-items: center;
    justify-content: initial;
  }
  .right-wrapper {
    width: 100%;
  }
  .left-wrapper {
    width: 100%;
  }
  .m-none {
    display: none;
  }
  .introduction {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    width: 100%;
  }
}
@media (max-width:640px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 0 0 75px;
  }
  .form { 
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .form-wrapper {
    max-width: 100%;
    padding: 12px;
    margin-top: 25px;
  }
  .form_name-wrapper_family,.form_name-wrapper_father {
    border-radius: 25px;
    padding: 10px 0;
    border: 2px solid transparent;
    margin: 2px;
    width: 50%;
  }
  .form_num-wrapper input,.form_address-wrapper input,.form_phone-wrapper input,.form_id-wrapper input {
    padding: 10px 0;
    margin: 2px;  
  }
  .form_birth-title {
    padding: 10px 0;
    margin: 2px;  
  }
  .form_birth-year-select,.form_birth-month-select,.form_birth-day-select {
    padding: 10px 0;
    margin: 2px;
  }
  .center-image img {
    width: 100%;
  } 
  .details {
    width: 100%;
    padding: 15px;
  }
  .details-p {
    line-height: 2.25;
    font-size: 1.15em;
    word-spacing: 1.5px;
    transition: all ease-in-out 0.4s;
  }
  .introduction {
    margin-top: 40px;
  }
  .introduction-p {
    margin-top: 7px;
  }
  .rule-txt {
    margin-right: 1.6em;
  }
  .rule-span {
    top: 18%;
    right: -7px;
  }
  .upload-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .upload_btn-id {
    margin: 5px;
  }
  .upload_btn-selfi {
    margin-top: 15px;
  }
  .note-p {
    color: #f14603;
    font-weight: 300;
    margin-top: 40px;
    font-size: 1em;
    list-style: 2.5;
    transition: all ease-in-out 0.4s;
  }
}
@media (max-width: 378px) {
  .rule-txt {
    font-size: 1.2em;
  }  
}

/*dark-theme*/
.dark-theme-wrapper {
  z-index: 1000;
}
.dark-theme-wrapper:hover::before,.dark-theme-wrapper:hover::after {
  display: none !important;
}
.dark-theme {
  width: 48px;
  height: 24px;
  background-color: #ccc;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.dark-theme::before {
  content: url('../img/moon-solid.svg') ;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 7px;
  top: 0;
  z-index: 1000;
}
.dark-theme::after {
  content: url('../img/sun-solid.svg');
  width: 11px;
  height: 11px;
  position: absolute;
  left: 7px;
  top: 0;
  z-index: 1000;
}
.circle {
  position: absolute;
  width: 20px;
  top:2px;
  left: 2px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  z-index: 1001;
  transform: translateX(0);
  transition: all ease 0.4s;
  transition: all ease-in-out 0.4s;
}
.circle--dark {
  transform: translateX(120%);
  background-color: #222;
}
.container--dark {
  background-color: #636363 !important;
}
.form-wrapper--dark,.details--dark {
  background-color: #0C0D01 !important;
}
.details-p--dark,.note-p--dark {
  color: #fff !important;
}
.introduction-p--dark,.details-p-span--dark {
  color: #f5e427 !important;
}
.nav-element--dark,.sec-nav-element--dark {
  color: #fff !important;
}
.note-p-span--dark {
  color: #f14603;
}
.rule-txt--dark {
  color: #fff !important;
}
.sec-nav-element-login--dark {
  color: #fff !important;
  border-color: #fff !important;
}
.header--dark , .nav--dark {
  background-color: #525252 !important;
}
  /*end-dark-theme*/